## 기초문법

### 파이썬 확장자명
- .py : 개발용
- .ipynb : 분석가, 데이터 싸이언티스트, 강의용
  + 주피터 노트북, 주피터 랩

In [1]:
1+1

2

In [2]:
print("Hello, World")

Hello, World

## 주석 처리
- 한줄 주석 처리
- 여러줄 주석 처리

In [3]:
# 한줄 주석 처리, 주석 주석 

print("Hello, World")

Hello, World

In [4]:
"""
abc
dec
def
"""

print("Hello, World")

Hello, World

ipynb 파일을 md + 이미지 같이 변환 가능 
--> 노션에서

## 그림

## 변수의 종류 
- 변수의 종류 : 숫자, 문자, 논리(True, False), NULL

In [7]:
# 정수형
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [8]:
# 실수형
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

In [10]:
# 논리 자료형
bool_true = False # True
print(bool_true)
print(type(bool_true))

False
<class 'bool'>

In [11]:
# NULL 자료형
none_x = None 
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

### 4가지 자료형 : Scalar 자료형
- int, float, bool, NoneType
- 더는 나눌 수 없는 최소 단위의 자료형
  + 이 객체 하나로는 반복문 사용이 불가

## 정수형 사칙 연산
- 결괏값의 자료형 확인
- 특이한 사칙연산자 하나 있음 (나눗셈)

In [17]:
a = 4
b = 2

c = a / b

print(c)
print(type(c))

2.0
<class 'float'>

## 실수형 사칙 연산
- 결괏값의 자료형 확인

In [21]:
a = 4.0
b = 2.0

c = a * b

print(c)
print(type(c))

8.0
<class 'float'>

## 논리형 연산자
- AND / OR / NOT(옵션)

In [24]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [25]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 부등호 연산자
- `>`, `<`, `>=`, `<=`

In [30]:
print(3 >= 3)
print(4 >= 6)

True
False

## 두 개의 값 비교
- 입력받아서 True, False가 나오도록 간단한 프로그램 작성
- 형변환 배우기

In [34]:
var = input("값을 입력해주세요!")
print("-------")
print(var)
print(type(var))

값을 입력해주세요!123
-------
123
<class 'str'>

In [36]:
var1 = int(input("값을 입력해주세요!"))
var2 = int(input("값을 입력해주세요!"))

print(var1 + var2)

값을 입력해주세요!123
값을 입력해주세요!456
579

In [37]:
print(var1 > var2)

False

## 오후 수업의 목표
- 파이썬 함수(=Methods) 사용법 익히기
- 관련 문서 확인하기

In [2]:
# Capitallize 
text = 'i love YOU' # str 클래스 객체
print(type(text))
result = text.capitalize()
print(result)

<class 'str'>
I love you

In [4]:
# Capitallize 
text = 'i love YOU' # str 클래스 객체
print(type(text))
result = text.capital()
print(result)

<class 'str'>

AttributeError: ignored

In [7]:
text = '    python is best    '
print(text)
result = text.strips()
print(result)

    python is best

AttributeError: ignored

In [15]:
# split 
# 문장을 분리하는 메서드
text = "내년 주요 사이버 위협으로 클라우드 전환에 따른 사고 위험 및 글로벌 해킹 조직의 공격 증가, 랜섬웨어의 진화 등이 꼽혔다."
result = text.split(',')
print(result)

['내년 주요 사이버 위협으로 클라우드 전환에 따른 사고 위험 및 글로벌 해킹 조직의 공격 증가', ' 랜섬웨어의 진화 등이 꼽혔다.']

## 리스트 자료형

In [25]:
a = [100, 200, 300]
b = [400, 500, 600]

a.append(b)
# a.append(400)
# a.append(500)
# a.append(600)

print(a)
# [100, 200, 300]

[100, 200, 300, [400, 500, 600]]

In [26]:
a = [100, 200, 300]
b = [400, 500, 600]

# 반복문 활용 (복잡)
# extend()
a.extend(b)

print(a)

[100, 200, 300, 400, 500, 600]

- 리스트 중간에 새로운 값을 추가

In [27]:
# insert()
a = [100, 200, 300]

# 100과 200사이에 150을 추가하
a.insert(1, 150)
print(a)

[100, 150, 200, 300]

### 리스트 내 특정 값 삭제

In [32]:
a = [1, 2, 1, 2]
a.remove(1)
print(a)

a.remove(3)
print(a)

[2, 1, 2]

ValueError: ignored

In [36]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# a = [0, 100, 200]

# 1 삭제
del a[1] # -- 인덱스 번호

print(a)

# 범위로 삭제
del a[1:5]
print(a)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 6, 7, 8, 9]

- 전체 다 지우자

In [38]:
a = [1,1,1,1,1,1]
print(a)

a.clear()
print(a)

[1, 1, 1, 1, 1, 1]
[]

In [39]:
a = ["Gold", "Gold", "Silver", "Silver"]

# Silver가 처음 등장하는 인덱스 번호 궁금
print(a.index("Silver"))

2

- 정렬

In [40]:
a = [1, 6, 5, 2, 3, 4]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [43]:
# 내림차순으로 정렬
a = [1, 6, 5, 2, 3, 4]
# a.sort(reverse=True)
a.reverse()
print(a)

[4, 3, 2, 5, 6, 1]

In [44]:
a = [1, 6, 5, 2, 3, 4, "a"]
a.sort()

TypeError: ignored

In [49]:
a = [1, 6, 5, 2, 3, 4]
print(min(a)) 
print(max(a))
print(len(a))

1
6
6

## 튜플
- 튜플 생성

In [51]:
tuple1 = (0, )
tuple2 = (0, 1, 2)
tuple3 = 0, 1, 2, 3

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

(0,)
(0, 1, 2)
(0, 1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [53]:
tuple0 = (1)
print(tuple0)
print(type(tuple0))

1
<class 'int'>

In [59]:
a = (0, 1, 2, 'A')
print(a)

a.remove('A')
print(a)

(0, 1, 2, 'A')

AttributeError: ignored

In [61]:
a = (0, 1, 2, 'A')

del a[3]

print(a)

TypeError: ignored

### 튜플 인덱싱 및 슬라이싱

In [67]:
tuple0 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple0[2])
print(tuple0[::3])

2
(0, 3, 6, 9)

## 딕셔너리
- JSON과 유사한 자료형

In [68]:
# {key:value} 
numbers = {1 : "One", 2: "Two", 3 : "Three"}
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three'}

In [69]:
country_capital = {"한국":"서울", "일본":"동경", "중국":"북경"}
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

In [71]:
print(numbers[1])
print(country_capital['한국'])

One
서울

In [74]:
numbers[4] = 'four'
print(numbers)

country_capital['미국'] = '뉴욕'
print(country_capital)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'four'}
{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '뉴욕'}

- 틀린 값 수정

In [75]:
country_capital['미국'] = '워싱턴'
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '워싱턴'}

- 삭제

In [76]:
del country_capital['미국']
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

### Dictionary 메서드
- keys() : 키 값만 출력
- values() : value값만 출력

In [79]:
result = list(country_capital.keys())
print(result)
print(type(result))

['한국', '일본', '중국']
<class 'list'>

In [80]:
result = list(country_capital.values())
print(result)
print(type(result))

['서울', '동경', '북경']
<class 'list'>

In [81]:
result = list(country_capital.items())
print(result)
print(type(result))

[('한국', '서울'), ('일본', '동경'), ('중국', '북경')]
<class 'list'>

## 조건문

In [86]:
score = int(input("점수를 입력해주세요 (0~100)"))
print(score)

if score >= 90:
  # 코드 작성
  print('A등급')
elif score >= 80:
  print('B등급')
else:
  print('F등급')

점수를 입력해주세요 (0~100)85
85
B등급

## 반복문
- Hello World 여러번 입력

In [88]:
range(3)

range(0, 3)

In [ ]:
# for i in 범위가정해진 값:

In [87]:
for i in range(3):
  
  # 코드 작성
  print(i + 1, "Hello World")

1 Hello World
2 Hello World
3 Hello World

In [89]:
a = "Hello"
for x in a:
  print(x)

H
e
l
l
o

In [90]:
a = [100, 200, 300]
for x in a:
  print(x)

100
200
300

In [91]:
a = (100, 200, 300)
for x in a:
  print(x)

100
200
300

In [ ]:
# for i in 범위가정해진 값(=시퀀스데이터)):

## 파이썬 반복문 여러가지 방법
- 종류 겁나 많음

In [94]:
a = ["A", "B", "C"]

num = 0
for idx in a:
  print(num, idx)
  num = num+1

0 A
1 B
2 C

In [95]:
a = ["A", "B", "C"]
for idx, value in enumerate(a):
  print(idx, value)

0 A
1 B
2 C

In [96]:
str_list = ["A", "B", "C"]
num_list = [1, 2, 3]

for strs, nums in zip(str_list, num_list):
  print(strs, nums)

A 1
B 2
C 3

## while문

In [97]:
i = 1
while i < 7:
  print("Hello World")
  i = i+1 # i += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

## 파이썬 다운 문법 : 파이써닉 방식
- Pythonic way 
- for loop 반복문을 한줄로 처리
- List Comprehension (리스트 컴프리헨션)

In [98]:
a = ['computer', 'apple', 'human', 'zoo', 'country']

# a가 들어간 문자만 리스트에 담자! 
result_list = []
for x in a:
  if "a" in x:
    result_list.append(x)
result_list

['apple', 'human']

In [99]:
a = ['computer', 'apple', 'human', 'zoo', 'country']
result2 = [x for x in a if "a" in x]
result2

['apple', 'human']